
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #555;
    background-color: #fff;
    min-width:  320px; 
    line-height: 1.42857;
}
header {
    height: 51px;
}
.logo {
    width: 120px;
    height: auto;
    margin-top: 10px;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.button-wrap .bttn {
    width: 150px;
    background: #FFC000;
    color: #222;
    display: inline-block;
    margin-right: 20px;
    padding: 10px 0;
    padding-left: 30px;
}

pre {
    font-family: monospace;
    background-color: #fFF9f9;
    border: #bb7799 1px solid;
    color: #440011;
    font-size: 100%;
    width: 80%;
	overflow: auto;
	word-spacing: normal;
	word-wrap: normal;
	padding-top: 15px;
}

a.options {
	padding: 5px 10px;
	background: #FFC000;
	text-decoration: none;
	color: #fff;
	margin-right: 10px;
	
}
.option-wrap{
	margin-bottom: 10px;
	background: #eee;
	padding: 10px 0 10px 10px;
	width: 80%;
}

@media (max-width: 767px){
	.browser-size{
		display: none;
	}
}
@media (max-width: 640px){
	.option-wrap, pre{
		width: 100%;
	}
}
/******** ie11 scroll bar fix *********/
@-ms-viewport {
    width: auto !important;
}